venv
temp.py
dataset
dataset/old data
yolo*.pt
model/previous-models

.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
*.pyd

logs/
*.log

.vscode/*
.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?